$color-primary: #FF9900;
$color-additional: #FF7549;
$color-background: #FFEEE1;
$color-link: #1943EF;
$color-tag: #F5F5F5;
$color-text: #544837;
$color-heading: rgba(0,0,0,0.15);
$color-border: #D7D7D7;
$color-hovered: #BCD0E5;
$color-light: #FFFFFF;
$color-black: #000000;
$color-hamburger: #173A56;
$color-overlay: rgba(80, 80, 80, 0.4);

$color-gray: #969992;
$color-violet: #7752be;
$color-yellow: #FAB005;
$color-red: #F03E3D;
$color-hovered-list: #4FA1B0;
$color-blue: #4169E1;
$color-subcard: #2F4F4F;
$color-recovered: #70A800;

$content-width: 1920px;
$content-big-width: 1600px;
$content-hd-width: 1280px;
$content-middle-width: 1023px;
$content-little-width: 800px;
$content-smallest-width: 600px;
