.subcard {
  height: 100%;
  transition: all 0.5s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background: $color-subcard;
  margin: 10px;

  .content {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;

    &__title,
    &__number {
      line-height: 60px;
    }

    &__small-title,
    &__title {
      text-align: center;
      font-size: 2rem;
      color: $color-light;
    }

    &__small-title {
      padding-top: 10px;
      font-size: 1rem;
    }

    &__number {
      font-weight: bold;
      font-size: 2.8rem;
      color: $color-red;
    }

    &__list {
      margin-top: 5px;
      color: $color-light;
      height: 90%;
    }
  }

  .color-blue {
    color: $color-blue;
  }

  @media (max-width: $content-big-width) {
    .content {
      &__title {
        font-size: 1.5rem;
      }

      &__number {
        font-size: 2.4rem;
      }
    }
  }

  @media (max-width: $content-hd-width) {
    .content {
      &__title {
        font-size: 1.2rem;
      }

      &__number {
        font-size: 2rem;
      }
    }
  }

  @media (max-width: $content-middle-width) {
    .content {
      &__title {
        font-size: 1.5rem;
      }

      &__number {
        font-size: 2.4rem;
      }
    }
  }

  @media (max-width: $content-little-width) {
    .content {
      &__title {
        font-size: 1.1rem;
      }

      &__number {
        font-size: 1.6rem;
      }
    }
  }

  @media (max-width: $content-smallest-width) {
    .content {
      &__title {
        font-size: 0.9rem;
      }

      &__number {
        font-size: 1.2rem;
      }
    }
  }
}
