.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 5px 50px 5px;
  justify-content: center;

  &__buttons {
    position: relative;
    top: 10px;
  }

  &__world {
    word-break: break-all;
    width: 20%;
    background: $color-yellow;
  }

  &__infected-map {
    margin-bottom: 0;
  }

  &__map {
    width: 50%;
    background: $color-red;

    &-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding-left: 10px ;
    }

    &-button {
      height: 30px;
      border: 1px solid black;
      color: black;
      text-align: center;
      line-height: 30px;
      background: gray;
      border-radius: 5px;
      padding: 0 5px;
      cursor: pointer;

      &_active {
        background: none;
        color: white;
      }
    }
  }

  &__statistics {
    width: 30%;
    background: $color-violet;
  }

  &__global {
    height: 30%;
  }

  &__graphics {
    height: 90%;
    margin-top: 20px;
  }

  &__countries {
    overflow: auto;
  }

  &__tables {
    display: flex;
    justify-content: space-between;
    height: 100%;

    .list__inner-block {
      align-items: normal;
    }
  }

  &__relative-stat,
  &__global-stat {
    width: 100%;

    .content {
      &__title {
        line-height: 30px;
        font-size: 1.2rem;
      }

      &__number {
        line-height: 30px;
        font-size: 2rem;
      }
    }
  }

  @media (max-width: $content-big-width) {
    &__relative-stat .content,
    &__global-stat .content{
      &__title {
        font-size: 0.8rem;
      }

      &__number {
        font-size: 1.45rem;
      }
    }

    &__relative-stat .list,
    &__global-stat .list{
      &__addition,
      &__country,
      &__number {
        font-size: .55rem;
      }
    }
  }

  @media (max-width: $content-middle-width) {
    &__world {
      width: 29%;
    }

    &__map {
      width: 69%;
    }

    &__statistics {
      margin: 0 auto;
      width: 98%;
      margin-top: -20px;
      margin-bottom: 60px;
    }

    &__relative-stat .content,
    &__global-stat .content{
      &__title {
        font-size: 1.2rem;
      }

      &__number {
        font-size: 2rem;
      }
    }

    &__relative-stat .list,
    &__global-stat .list{
      &__addition,
      &__country,
      &__number {
        font-size: 1rem;
      }
    }
  }

  @media (max-width: $content-little-width) {
    &__global {
      height: 20%;
    }

    &__relative-stat .list,
    &__global-stat .list{
      &__addition,
      &__country,
      &__number {
        font-size: 0.8rem;
      }
    }
  }

  @media (max-width: $content-smallest-width) {
    width: auto;
    padding: 0 29px;
  }
}
